

body {
      font-family: 'Sen', sans-serif;
      font-family: 'Francois One', sans-serif;
}

/*****FONTS*****/

h1, h3 {
      font-family: 'Francois One', sans-serif;
}

h2, h4, p {
      font-family: 'Sen', sans-serif;
      color: #011627;
}

h1 {
      font-size: 60px;
      font-weight: bold;
      color: #FF3366;
}

h2 {
      font-size: 48px;
      font-weight: normal;
      color: #011627;
}

h3 {
      font-size: 36px;
      font-weight: bold;
      color: #2EC4B6;
}

h4 {
      font-size: 24px;
      font-weight: bold;
}

p {
      font-size: 24px;
      font-weight: normal;
}

span {
      color: #FF3366;
}

/*****GRID*****/

.container {
      margin: 0 auto;
      width: 1400px;
}

.row {
      margin: 0 auto;
      width: 1200px;
      height: 425px;
}

.third {
      margin: 0 auto;
      width: 466px;
      float: left;
}

/*****HEADER*****/

header {
      height: 110px;
      background-color: #2EC4B6;
      margin: 0 auto;
      overflow: auto;
      clear: both;
}

nav {
      float: right;
      padding: 15px 0;
}

nav ul li {
      display: inline-block;
      padding: 0 35px 0 0;
      font-size: 30px;
}

nav ul li a {
      text-decoration: none;
      color: #011627;
}

nav ul li a:hover {
      color: #F6F7F8;
}

/*****HOME*****/

#home {
      background: url('../img/hero.png');
      height: 800px;
      text-align: center;
      margin: 0 auto;
      overflow: auto;
      clear: both;
}

#home h1 {
      padding: 340px 0 0 0;
      font-size: 60px;
}

#home h2 {
      padding: 0 300px;
}

/*****PORTFOLIO*****/

#portfolio {
      margin: 0 auto;
      width: 1200px;
}

#portfolio h3 {
      text-align: center;
}

#portfolio .row img {
      float: left;
      height: auto;
      padding: 0 55px 0 0;
}

/*****ABOUT*****/

#about {
      background-color: #2EC4B6;
      height: 0 auto;
}

#about .row img {
      float: left;
      height: auto;
      width: auto;
      margin: 0 55px 0 0;
      border: 5px solid #F6F7F8;
}

#about h3 {
      text-align: center;
      color: white;
      padding: 25px 0;
}

#about h4, #about p {
      color: white;
      line-height: 30px;
}

/*****CONTACT*****/

#contact {
      background-color: #011627;
      margin: 0 auto;
      clear: both;
      overflow: auto;
      padding: 0 0 75px 0;
}

#contact h3 {
      text-align: center;
      color: white;
      padding: 25px 0;
}

#contact h4, #contact p {
      color: white;
}

#contact .third {
      text-align: center;
      line-height: 10px;
}

#contact ul {
      padding: 0;
}

#contact ul li {
      display: inline-block;
      padding: 0 15px 0 15px;
}

/*****FOOTER*****/

footer {
      background-color: #011627;
      overflow: auto;
      clear: both;
      text-align: center;
      padding: 20px 0;
}

footer p {
      color: white;
}
